<body>
  <h1>FAQ (VERY IMPORTANTO)</h1>
  <h2>Trial Orders</h2>
  <p>
    To make things clear, I will only be offering orders to direct FRIENDS & FAMILY! 
    I'm essentially guinea-pigging my customers - aka, you guys!! Some, if not all the 
    flavours and goods I will offer (by the time this is posted) will not have been 
    made prior
  </p>

  <p>
    I will not be accepting orders from outside parties (IM SORRY THIS IS TEMPORARY)
  </p>
  <ul>- Your friend wants to order a cake for their bday X</ul>
  <ul>- You want to order a cake for your friend's bday O</ul>
  

  <p>
    Feedback is greatly appreciated! I will take as little or as many criticisms, 
    whether it's for the recipe or about how my operation works! Anything helps.
  </p>

  <p>
    Imperfections and failures ahead - if I have charged you already and we end up with
    something absolutely terrible, I'll be happy to refund you!!1!
  </p>


  <h2>What's On the Menu?</h2>
  <i>w/ every order comes an allergen card, which lists every ingredient used!</i>
  <ul>- Customized Cakes X</ul>
  <ul>- ButterCream Cakes X</ul>
  <ul>- Fondant X</ul>
  <p>
    For the time being, I'll only be sticking w/ what I am 
    comfortable with! I'm not rly a fan of buttercream cakes,, 
    therefore, I offer:
  </p>
    <ul>- Whipped Cream Cakes /</ul>
    <ul>- Simple Design /</ul>
    <ul>- Tarts, Cupcakes, & Occasional Other /</ul>
  <p>
    The menu I will provide you ( upon order req.)
    will have a bunch of goods I haven't even made before
    or things I've made in the past * want to attempt 
    again! If you're not looking to order, but want to 
    check out the menu anyway, just lmk! :> though, I may 
    consider FLAVOUR requests! Which is easier than a specific 
    design in my opinion.
  </p>

  <h2>Price & Pay?</h2>
  <b>CA$50-70</b>
  <p>
    I feel like I might be a little bit pricey considering I'm a test-station, but some
    ingredients/equipment I don't already own, so it's a bit pricey to pay out of pocket - 
    as well as baking from home with a family around! I hope you understand. Some things
    cheaper and other more expensive, but we'll find a settled range later on!
    If the prices sound unreasonable, we can negotiate!
  </p>
  <b>E-Transfer & Cash?</b>
  <p>
    I'll be accepting e-transfers & cash payments at the door! 5-50 dollar bills would be appreciated
  </p>
  <b>Uber Delivery?</b>
  <p>
    Considering this service but it would come with a delivery fee!
  </p>

  <h2>Availability?</h2>
  <b>How Can I Pick Up My Cake?</b>
  <p>
    My House!
    I don't drive, so all orders will have to be picked up from my house.
  </p>
  <p>
    Map & Directions
    The entrace to my house is a little bit tricky to understand,, so I will
    link you a google doc with instructions on h ow to walk to the door!
  </p>

  <b>Pick-ups Available on <i>FRIDAYS</i> & <i>SATURDAYS</i> only!</b>
  <p>
    Since I work a 9 to 5 sun-thurs job, the only times I'd be able to provide
    any pick-ups would be on Fridays, Saturdays, and SOME Sundays! I would
    just have to get my family to hand the cake to you at the door!
    Pls ask for Sunday availability if that is a time that works better for you.
  </p>

  <b>Pick-up Calendar</b>
  <p>
    Every month I will provide a calendar that highlights my availabilty for any
    interested orders. It'll be first-come, first-serve! But, depending on what's 
    ordered and how difficult the order is to make, I may reject pick-up days if there
    are orders back-to-back... I will work out the kinks...
  </p>
  <i>PLS ORDER 1-2 WEEKS IN ADVANCE!!1!</i>
</body>
