<body class="orderform">
  <div>
    <h1>Ordering Information!</h1>
    <form class=oform [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="readTerms">Did you read the terms and conditions?</label>
        <input type="checkbox" id="readTerms" formControlName="readTerms"/>
      </div>
      <div>
        <label for="pickup">Time and Date for pickup? </label>
        <input type="date" id="pickUp" formControlName="pickup"/>
      </div>
      <div>
        <label for="lactose">Do you want lactose free cream?</label>
        <select id="size" name="sizes" formControlName="size">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div>
        <label for="cakeSize">What size cake? </label>
        <select id="size" name="sizes" formControlName="size">
          <option value="8">8"</option>
          <option value="10">10"</option>
        </select>
      </div>
      <div>
        <label for="message">Do you want a message on the cake? </label>
        <div>
          <textarea rows="5" cols="75" formControlName="message"></textarea>
        </div>
      </div>
      <div>
        <label for="message">Do you have any allergies? </label>
        <div>
          <textarea rows="5" cols="75" formControlName="allergies"></textarea>
        </div>
      </div>
      <button type="submit" [disabled]="myForm.invalid">Submit!</button>
    </form>
  </div>
  <div>
    <cake [cakeInformation]="cakeInformation"></cake>
  </div>
</body>