body{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: rgb(231, 204, 198);
}

.BodyContent{
    display: grid;
    grid-template-columns: 375px 375px 375px 375px;
    grid-template-rows: 400px;
    grid-template-areas: 375px 400px;
    grid-gap: 75px;
}