body{
    width: 90%;
    height: 100%;
    margin: auto;
    box-shadow: 10px;
}

.BodyContent{
    display: grid;
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    grid-auto-rows: 525px;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(375px,1fr));
}