body{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: rgb(231, 204, 198);
}

.BodyContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

.Row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}