.Footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    border-top: Solid 3px rgb(255, 255, 255);
}

img {
    display: block;
    margin: 0 auto;
}