<div class="Header">
    <a routerLink="" class="Icon" alt="Logo">
      <img src="HomeIcon.jpg">
    </a>
    <div class="Menu">
      <a class="buttons" routerLink="">
          <img src="hangyoIconA.png" width="100" height="100">
          Menu
      </a>
      <a class="buttons" routerLink="/order">
        <img src="hangyoIconB.png" width="100" height="100">
        Order
      </a>
      <a class="buttons" routerLink="/faq">
        <img src="hangyoIconC.png" width="100" height="100">
        FAQ
      </a>
    </div>
</div>